<h1>分类 Show</h1>
<p>
  <%= @sort.name %>
</p>

<table class="table table-bordered table-hover">
<% @articles.each do |f| %>
<tr>
  <td><%= f.title %></td>
  <td><%= f.text %></td>
  <td><%= f.sort_id %></td>
  <td><%= f.article_state %></td>
  <td>
    <%= link_to "显示", article_path(f) %>
  </td>
</tr>
<% end %>
</table>
