<h1>文章 Show</h1>
<p>
  <strong>标题:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @article.text.html_safe %>
</p>

<p>
  <strong>分类:</strong>
  <%= @article.sort.name %>
</p>

<p>
  <strong>阅读量:</strong>
  <%= @article.article_count %>
</p>

<% if current_user.nil? %>
<% else %>
  <p>
    <strong>状态:</strong>
    <%= @article.article_state %>
  </p>

  <%= link_to "编辑", edit_article_path %>
<% end %>

</br>
<%= link_to "返回", :back %>
