<h1>文章 Show</h1>
<p>
  <strong>标题:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @article.text %>
</p>

<p>
  <strong>分类:</strong>
  <%#= @sort_name %>
</p>

<p>
  <strong>状态:</strong>
  <%= @article.article_state %>
</p>

<p>
  <strong>阅读量:</strong>
  <%= @article.article_count %>
</p>

</br>
<%= link_to "返回", articles_path %>
